.footer {
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
    clear: both;
    position: fixed;
    overflow: hidden;
}

.pole {
    border-radius: 0px 10px 10px 0px;
}
#poleGora{
    border-radius: 0px 10px 0px 0px;
}
#pole-dol {
    border-radius: 0px 00px 10px 0px;
}
#poleregister{
    background-color: #f8f9fa;

}
#karuzelaBody{

    margin-top: 10%;
}
.message{
    color: red;


}
.karuzela{

    width: 50%;
    position: center;

}
.img{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    height: 40%;
    width: 40%;
    border-radius: 10%;
}
.error
{
    position: absolute;
    bottom:0;
}
#new-message{
    border-radius: 10px 10px 10px 10px;


}

.mess{
padding: 10px;
}
.center{
    position: center;
    margin-left: 10%;
}
.txtimg {
    display: flex;
    width: 40%;
    height: 40%;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 5%;
    float: right;
    font-size: 20px;
}
.app{
    overflow: auto;
    max-height: 400px;

}


.message-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.message-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.message-container sa {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.message-container sa.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
.left-page
{
    background-color:#f8f9fa;
    max-height: 500px;
}
.right-page
{
    background-color:#f8f9fa;


}
.messages
{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 1000px;

}
