{extends file="main.tpl"}
{block name=content}

    <div class="container" style="margin-top: 10px; margin-bottom: 50px">

        {if (isset($case_id))}




        <h1>Zgłoszenie zostało przesłane.</h1><br>
            <h2>Numer zgłoszenia: {$case_id}</h2>

        {/if}



    </div>
























{/block}